* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Navigation */

.navigation {
    background-color: #fff;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
}

.nav-links li {
    display: inline;
    padding: 0 14px;
    letter-spacing: .9px;
}

.nav-links li a {
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    font-size: 14px;
}

.nav-btn a{
    background-color: hsl(0, 94%, 66%);
    color: #fff !important;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 14px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border: 2px solid hsl(0, 94%, 66%);
}

.nav-btn a:hover{
    background-color: #FFFFFF;
    color:  hsl(0, 94%, 66%) !important;
    border: 2px solid hsl(0, 94%, 66%);
    transition: .5s ease;
}

.nav-links a:hover {
    color: hsl(0, 94%, 66%);
    transition: .3s ease;
}

.nav-links {
    display: none;
}

.burger {
    position: absolute;
    top: 5.4vh;
    right: 6vw;
}

/* Mobile Nav */

.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .mobile-nav {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        background-color: hsl(228, 43%, 18%);
        opacity: .9;
        height: 100vh;
        width: 100vw;
        z-index: 1;
    }

    .top-section-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12.6vh;
    }

    .mob-ul {
        margin-top: 20px;
        text-align: center;
    }

    .mob-ul ul li {
        padding: 20px;
        border-bottom: 1px solid hsl(229, 8%, 60%);
        width: 90%;
        margin: 0 auto;
        list-style-type: none;
    }

    .border-top-mob {
        border-top: 1px solid hsl(229, 8%, 60%);
    }

    .mob-ul ul li a {
        margin-top: 15px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        letter-spacing: 2px;
    }

    .mob-btn {
        border: 2px solid #FFFFFF !important;
        padding: 13px 0px !important;
        margin-top: 30px;
        font-weight: 500;
        border-radius: 6px;
    }

    .mob-social {
        text-align: center;
        padding-bottom: 35%;
    }

    .mob-social a {
        padding: 0 15px;
    }

    /* hide */
    .burger-remove {
        display: none;
    }

    .show-nav {
        display: flex;
    }
}
 
/* Hero Section */

.hero-section {
    text-align: center;
    margin-bottom: 0px !important;
    padding-top: 20px;
    position: relative;
}

.hero-section-content img {
    width: 100%;
}

.hero-section-shape {
    position: absolute;
    right: 0px;
    top: 102px !important;
    width: 80%;
    height: 25%;
    max-height: 300px;
    border-radius: 100px 0 0 100px;
    background-color: hsl(231, 69%, 60%);
    z-index: -2;
}

@media (min-width: 769px) {
    .hero-section {
        text-align: left;
        height: 87vh;
    }

    .hero-section-content img {
        width: 57%;
        order: 2;
    }

    .hero-section-shape {
        position: absolute;
        right: 0px;
        top: 30vh !important;
        width: 45%;
        height: 60%;
        border-radius: 100px 0 0 100px;
        background-color: hsl(231, 69%, 60%);
        z-index: -2;
    }

    .nav-links {
        display: block;
    }

    .burger {
        display: none;
    }

    .hero-section-info {
        order: 1;
        width: 40%;
    }

    .hero-section-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 87vh;
    }
}

@media (min-width: 2200px){
    .hero-section-info {
        order: 1;
        width: 30%;
    }
}



@media (max-width: 320px) {
    .hero-section-shape {
        width: 80%;
        height: 25%;
    }
}

.hero-section-info h2 {
    font-size: 27px;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
    padding: 70px 0px 24px 0px;
}

@media (min-width: 789px) {
    .hero-section-info h2 {
        padding-top: 0px;
    }
}

.hero-section-info p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 50px !important;
}

.hero-btn {
    background-color: hsl(231, 69%, 60%);
    padding: 1em .7em;
    font-size: 1rem;
    border: 2px solid hsl(231, 69%, 60%);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.8s ease;
}

.hero-btn-two {
    background-color: #fff;
    color: hsl(229, 31%, 21%);
    box-shadow:  1px 1px 7px rgba(0, 0, 0, .2);
    margin-left: 4px;
    border: 2px solid #FFFFFF;
}

.hero-btn:hover {
    background-color: #fff;
    border: 2px solid hsl(231, 69%, 60%);
    cursor: pointer;
    color: hsl(231, 69%, 60%);
    
}

.hero-btn-two:hover {
    border: 2px solid hsl(229, 31%, 21%);
    color: hsl(229, 31%, 21%);
}

@media (min-width: 768px) {
    .hero-btn-two {
       margin-left: 10px;
    }
}


@media (max-width: 320px) {
    .hero-btn {
        padding: 1em .4em;
        font-size: .9rem;
    }
}

/* Featured Section */

.featured-section {
    text-align: center;
    margin: 100px 0px;
}

.featured-section img {
    width: 100%;
}

.featured-section-heading {
    border-bottom: 1px solid hsl(229, 8%, 60%);
    width: 90%;
    margin: 0 auto;
}

.featured-section-heading h3 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding-bottom: 24px;
}

.featured-section-heading p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 40px !important;
}

.featured-section-btn {
    margin-bottom: 90px;
}

.featured-section-btn a {
    display: block;
    text-decoration: none;
    padding: 20px 0px;
    color: hsl(229, 8%, 60%);
    border-bottom: 1px solid hsl(229, 8%, 60%) !important;
    transition: .2s ease;
}


.featured-section-btn a:hover,
.featured-section-btn a:focus {
    border-bottom: 2px solid hsl(0, 94%, 66%) !important;
    color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.featured-tab {
    margin-bottom: 90px;
    position: relative !important;
}

.tab-one,
.tab-two,
.tab-three {
    display: none;
}

.featured-tab h3 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding: 60px 0px 24px 0px;
}

.featured-tab p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 40px;
}

.featured-more-btn {
    background-color: hsl(231, 69%, 60%);
    padding: 10px 17px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    transition: .4s ease;
    border: 2px solid hsl(231, 69%, 60%);
}

.featured-more-btn:hover {
    background-color: #FFFFFF;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}

.display {
    display: none;
}

.featured-shape {
    position: absolute !important;
    left: 0px;
    top: 90px !important;
    width: 80%;
    height: 25%;
    max-height: 300px;
    border-radius: 0 100px 100px 0;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
}



@media (min-width: 769px) {
    .featured-section-btn a {
        display: inline-block;
        border: none !important;
        margin: 0 15px;
    }

    .display {
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .featured-section-heading {
        border-bottom: none;
    }

    .featured-tab-flex {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 

    .featured-tab img {
        width: 50%;
    }

    .tab-one-content{
        width: 40%;
    }

    .featured-shape {
        right: 0px;
        top: 30vh !important;
        width: 45%;
        height: 60%;
    }
}   

/* Hide */

.show-feature {
    display: block !important;
}

/* Download Section */

.download-section {
    text-align: center;
}

.download-section h4 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding: 60px 0px 24px 0px;
}

.download-section-text{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 90px;
}

.download-section-card  {
    max-width: 300px;
    height: 391px;
    padding: 50px 0px;
    margin: 0 auto;
    margin-bottom: 80px;
    box-shadow:  0px 0px 2px rgba(0, 0, 0, .2);
    border-radius: 20px;
} 

.download-section-card h5 {
    font-size: 18px;
    padding: 20px 0px;
    color: hsl(229, 31%, 21%);
} 

.download-section-card p {
    color: hsl(229, 8%, 60%);
    font-size: 12px;
    margin-bottom: 20px;
} 

.download-section-dots {
    width: 100%;
}

.download-section-card a {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: hsl(231, 69%, 60%);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid hsl(231, 69%, 60%);
    transition: .7s ease;
}

.download-section-card a:hover {
    background-color: #FFFFFF;
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
}

.download-section-content {
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 769px) {
    .download-section-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .download-section-card  {
        width: 30%;
        max-width: 400px;
        height: 391px;
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 50px 0px;
        box-shadow:  0px 0px 2px rgba(0, 0, 0, .2);
        border-radius: 20px;
    } 

    .card-two {
        margin-top: 70px;
    }

    .card-three {
        margin-top: 140px;
    }
}


@media (min-width: 1950px) {
    .card-two {
        margin-top: 70px !important;
    }

    .card-three {
        margin-top: 140px !important;
    }


    .download-section-card  {
        max-width: 500px;
        margin: 0 auto;
        height: 100%;
        margin-bottom: 80px;
        padding: 100px 0px;
        box-shadow:  0px 0px 2px rgba(0, 0, 0, .2);
        border-radius: 20px;
    } 
}

/* Faq Section */

.faq-section {
    margin-top: 40px;
    margin-bottom: 90px;
}

.faq-section-heading {
    text-align: center;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.faq-section-heading h3 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding: 0px 0px 24px 0px;
}

.faq-section-heading p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    transition: .4s ease;
}

.question h4 {
    font-size: 16px;
    color: hsl(229, 31%, 21%);
    font-weight: 400;
    transition: .3s ease;
}

.question h4:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.question img {
    width: 18px;
    height: 12px !important;
}

.question img:hover {
    cursor: pointer;
}

.answer {
    display: none;
    padding-bottom: 70px;
    font-size: 15px;
    color: hsl(229, 8%, 60%);
    line-height: 1.7;
    letter-spacing: .8px;
}

@media (min-width: 769px) {
    .faq-section-heading,
    .faq-section-content {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/* Hide */

.show-text {
    display: block;
}

.arrowclose {
    transform: rotate(180deg);
}

/* CTA Section */

.cta-section {
    background-color: hsl(231, 69%, 60%);
    text-align: center;
    color: #FFFFFF;
    padding: 50px 0px;
}


.cta-section h4 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}

.cta-section h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 0px;
}

.cta-section input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0px 20px;
    margin-top: 20px;
}

::placeholder {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: hsl(229, 8%, 60%);
}

.cta-section a {
    display: block;
    background-color: hsl(0, 94%, 66%);
    margin: 20px 0px;
    padding: 11px 0px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid hsl(0, 94%, 66%);
    transition: .4s ease;
}

.cta-section a:hover {
    background-color: #FFFFFF;
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
}

@media (min-width: 769px){
    .cta-section-content {
        width: 50%;
        margin: 0 auto;
    }

    .cta-section input {
        display: inline;
        width: 50%;
    }

    .cta-section a {
        display: inline;
        padding: 8px 20px 10.4px;
    }
}

/* Footer */

.footer-section {
    background-color: hsl(229, 31%, 21%);
    color: #FFFFFF;
    text-align: center;
    padding: 35px;
}

.footer-content-nav ul {
    list-style: none ;
    padding: 24px 0px;
}

.footer-content-nav ul li {
    padding: 15px 0px;
}

.footer-content-nav a {
    color: #dfdddd;
    text-decoration: none;
    padding: 15px 0px;
    font-size: 12px;
    letter-spacing: 2px;
    transition: .3s ease;
}

.footer-content-social a {
    padding: 0 8px;
}

.footer-content-nav a:hover {
    color: hsl(0, 94%, 66%);
}

span br {
    display: none;
}

@media (min-width: 769px) {
    .footer-section {
        text-align: left;
        padding: 10px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-content-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    } 

    .footer-content-nav svg {
        margin-top: 2px;
        margin-right: 60px;
    }

    .footer-content-nav ul li {
        display: inline;
        padding: 0px 12px;
    }

    span br {
        display: block;
    }

}