* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Navigation */

.navigation {
    background-color: #fff;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
}

.nav-links li {
    display: inline;
    padding: 0 14px;
    letter-spacing: .9px;
}

.nav-links li a {
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    font-size: 14px;
}

.nav-btn a{
    background-color: hsl(0, 94%, 66%);
    color: #fff !important;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 14px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.nav-links a:hover {
    color: rgb(129, 137, 179);
}

.nav-links {
    display: none;
}

.burger {
    position: absolute;
    top: 5vh;
    right: 10vw;
}

/* Hero Section */

.hero-section {
    height: calc(100vh - 13vh);
    text-align: center;
    margin-bottom: 70px;
    padding-top: 20px;
    position: relative;
}

.hero-section-content img {
    width: 100%;
}

.hero-section-shape {
    position: absolute;
    right: 0px;
    top: 102px;
    width: 80%;
    height: 25%;
    border-radius: 100px 0 0 100px;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
}

@media (max-width: 320px) {
    .hero-section-shape {
        width: 80%;
        height: 25%;
    }
}

.hero-section-info h2 {
    font-size: 27px;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
    padding: 70px 0px 24px 0px;
}

.hero-section-info p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 50px !important;
}

.hero-btn {
    background-color: hsl(231, 69%, 60%);
    padding: 1em .7em;
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.hero-btn-two {
    background-color: #fff;
    color: hsl(229, 31%, 21%);
    box-shadow:  1px 1px 7px rgba(0, 0, 0, .2);
    margin-left: 4px;
}

@media (max-width: 320px) {
    .hero-btn {
        padding: 1em .4em;
        font-size: .9rem;
    }
}

/* Featured Section */

.featured-section {
    text-align: center;
}

.featured-section img {
    width: 100%;
}

.featured-section-heading {
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.featured-section-heading h3 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding-bottom: 24px;
}

.featured-section-heading p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 40px !important;
}

.featured-section-btn {
    margin-bottom: 90px;
}

.featured-section-btn a {
    display: block;
    text-decoration: none;
    padding: 20px 0px;
    color: hsl(229, 8%, 60%);
}

.featured-section-btn a:hover,
.featured-section-btn a:focus {
    display: inline-block;
    border-bottom: 2px solid hsl(0, 94%, 66%);;
}

.featured-tab {
    margin-bottom: 90px;
}

.featured-tab h3 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding: 60px 0px 24px 0px;
}

.featured-tab p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 40px;
}

.featured-more-btn {
    background-color: hsl(231, 69%, 60%);
    padding: 10px 17px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
}

/* Download Section */

.download-section {
    text-align: center;
}

.download-section h4 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding: 60px 0px 24px 0px;
}

.download-section-text{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
    padding-bottom: 90px;
}

.download-section-card  {
    margin-bottom: 80px;
    padding: 50px 0px;
    box-shadow:  0px 0px 2px rgba(0, 0, 0, .2);
    border-radius: 20px;
} 

.download-section-card h5 {
    font-size: 18px;
    padding: 20px 0px;
    color: hsl(229, 31%, 21%);
} 

.download-section-card p {
    color: hsl(229, 8%, 60%);
    font-size: 12px;
    margin-bottom: 20px;
} 

.download-section-dots {
    width: 100%;
}

.download-section-card a {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: hsl(231, 69%, 60%);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
} 


/* Faq Section */

.faq-section {
    margin-top: 135px;
    margin-bottom: 90px;
}

.faq-section-heading {
    text-align: center;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.faq-section-heading h3 {
    font-size: 27px;
    color: hsl(229, 31%, 21%);
    padding: 60px 0px 24px 0px;
}

.faq-section-heading p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: hsl(229, 8%, 60%);
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.question h4 {
    font-size: 16px;
    color: hsl(229, 31%, 21%);
    font-weight: 400;
}

.question img {
    width: 18px;
    height: 12px !important;
}

.answer {
    display: none;
}

/* CTA Section */

.cta-section {
    background-color: hsl(231, 69%, 60%);
    text-align: center;
    color: #FFFFFF;
    padding: 50px 0px;
}


.cta-section h4 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}

.cta-section h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 0px;
}

.cta-section input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0px 20px;
    margin-top: 20px;
}

::placeholder {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: hsl(229, 8%, 60%);
}

.cta-section a {
    display: block;
    background-color: hsl(0, 94%, 66%);
    margin: 20px 0px;
    padding: 13px 0px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
}

/* Footer */

.footer-section {
    background-color: hsl(229, 31%, 21%);
    color: #FFFFFF;
    text-align: center;
    padding: 35px;
}

.footer-content-nav ul {
    list-style: none ;
    padding: 24px 0px;
}

.footer-content-nav ul li {
    padding: 15px 0px;
}

.footer-content-nav a {
    color: #dfdddd;
    text-decoration: none;
    padding: 15px 0px;
    font-size: 14px;
    letter-spacing: 2px;
}

.footer-content-social a {
    padding: 0 8px;
}
